<% include partials/header.ejs %>

  <h1 class="text-center"><%= title %></h1>
  <p class="text-center">Anything You Want to!</p>
  <img src="images/Home/back.png" >
  

<% include partials/footer.ejs %>
